<!DOCTYPE html> 
<html>
	<head>
			<title>KEA - Kursequippen Anmeldung</title>
			<link rel='stylesheet' type='text/css' href='/c/general_style.css' />
	</head>
<body>
<div id='base'>
	<table class='title'>
		<tr>
			<td class='left'><img src='i/hanswaldmannlogo.gif' alt='Hans Waldmann' /></td>
			<td><h1>AuRe5 - Kursequippen Anmeldung</h1><h2 class='year'>Kurssaison {{year}}</h2></td>
			<td class='right'><img src='i/hochwachtlogo.jpg' alt='Hochwacht' /></td>
		</tr>
	</table>

	<p>Leider ist die Anmeldung abgeschlossen. <br/>Wir hoffen auf dein Interesse in der n&auml;chsten Kurssaison.</p>
	<p>Allzeit bereit</p><br/>
	<p>Goblin, Pipra &amp; Twister</p>
</div>
</body>
</html>