<html>
	<head>
			<title>KEA - Kursequippen Anmeldung</title>
	</head>
<body>
<div>
	<img src='i/hanswaldmannlogo.gif' alt='Hans Waldmann' height='150'/>
	<img src='i/hochwachtlogo.jpg' alt='Hochwacht' height='150'/>

	<h1>Kursequippen Anmeldung</h1>
	<p class='year'>Kurssaison {{year}}</p>

	<p>Herzlichen Dank f&uuml;r deine Anmeldung. Wir bitten dich am Montag, 27. Oktober 2014 ab 19.00 Uhr telefonisch erreichbar zu sein damit wir dich erreichen k&ouml;nnen, wenn wir R&uml;cksprach nehmen m&uuml;ssen. Du wirst dann &uuml;ber deine Zuteilung zwischen dem 27. - 31. Oktober 2014 von deinem Kursleiter informiert.</p>
	<p>Allzeit bereit</p>
	<p>Goblin, Pipra &amp; Twister</p>
</div>
</body>
</html>