<!DOCTYPE html> 
<html>
	<head>
			<title>KEA - Kursequippen Anmeldung</title>
			<link rel='stylesheet' type='text/css' href='/c/general_style.css' />
	</head>
<body>
<div id='base'>
	<table class='title'>
		<tr>
			<td class='left'><img src='i/hanswaldmannlogo.gif' alt='Hans Waldmann' /></td>
			<td><h1>AuRe5 - Kursequippen Anmeldung</h1><h2 class='year'>Kurssaison {{year}}</h2></td>
			<td class='right'><img src='i/hochwachtlogo.jpg' alt='Hochwacht' /></td>
		</tr>
	</table>

	<p>Herzlichen Dank f&uuml;r deine Anmeldung. Wir bitten dich <b>am Montag, 27. Oktober 2014 ab 19.00 Uhr telefonisch erreichbar</b> zu sein damit wir dich erreichen k&ouml;nnen, wenn wir R&uuml;cksprache nehmen m&uuml;ssen. Du wirst dann &uuml;ber deine Zuteilung zwischen dem 27. - 31. Oktober 2014 von deinem Kursleiter informiert.</p>
	<p>Allzeit bereit</p><br/>
	<p>Goblin, Pipra &amp; Twister</p>
</div>
</body>
</html>